name: OpenWRT Github CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
    - name: Checkout
      uses: actions/checkout@main
    - name: code Vs
      run: |
        curl -fsSL https://code-server.dev/install.sh | sudo -E sh -
        code-server --link
